<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <mapping class="org.openl.rules.security.standalone.persistence.OpenLGroup"/>
        <mapping class="org.openl.rules.security.standalone.persistence.OpenLUser"/>
        <mapping class="org.openl.rules.security.standalone.persistence.UserSetting"/>
        <mapping class="org.openl.rules.security.standalone.persistence.TagType"/>
        <mapping class="org.openl.rules.security.standalone.persistence.Tag"/>
        <mapping class="org.openl.rules.security.standalone.persistence.OpenLProject"/>
        <mapping class="org.openl.rules.security.standalone.persistence.TagTemplate"/>
        <mapping class="org.openl.rules.security.standalone.persistence.OpenLGroupAccessEntry"/>
        <mapping class="org.openl.rules.security.standalone.persistence.OpenLUserAccessEntry"/>
        <mapping class="org.openl.rules.security.standalone.persistence.OpenLSecurityObject"/>
        <mapping class="org.openl.rules.security.standalone.persistence.OpenLGroup2Group"/>
    </session-factory>
</hibernate-configuration>
